@tailwind preflight;

@tailwind components;

@tailwind utilities;

.h-half-screen {
  height: 50vh;
}

.h-three-quarter-screen {
  height: 75vh;
}

.page-center {
  @apply flex flex-col justify-center items-center;
}

.btn {
  @apply font-semibold py-2 px-4 rounded no-underline;
}

.btn-blue {
  @apply bg-grey-darkest text-white;
}

.btn-blue:hover {
  @apply bg-black shadow-md;
}

.d-container {
  @apply w-full mx-auto;
}

@screen sm {
  .d-container {
    @apply w-3/4;
  }
}

@screen md {
  .d-container {
    @apply w-2/3;
  }
}

.link {
  @apply no-underline text-blue-darker;
}

.nav-spacer {
  margin-top: 55px;
}

@screen sm {
  .nav-space {
    margin-top: 87px;
  }
}
