@tailwind base;

@tailwind components;

@tailwind utilities;

.h-half-screen {
  height: 50vh;
}

.h-three-quarter-screen {
  height: 75vh;
}

.about-height {
  height: 84vh;
}

.page-center {
  @apply flex flex-col justify-center items-center;
}

.btn {
  @apply font-semibold tracking-wider py-4 px-6 rounded no-underline uppercase;
}

.btn-blue {
  @apply bg-indigo-500 text-white;
}

.btn-blue:hover {
  @apply bg-indigo-600 shadow-lg;
}

.link {
  @apply no-underline text-indigo-600;
}

.nav-spacer {
  margin-top: 55px;
}

.d-container {
  @apply w-full mx-auto;
}

@screen sm {
  .nav-spacer {
    margin-top: 64px;
  }
}

@screen md {
  .nav-spacer {
    margin-top: 87px;
  }
}

.image-extension {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  @apply text-4xl font-bold;
}
